*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.headerSetion{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(red, rgb(41, 91, 165), blue);
  color: white;
  padding-top: 20px;
}
.center ul li{
  list-style: none;
  display: inline-flex;
  margin:  0px 10px;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 100%;
  color: blue;
}
.title{
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  padding: 10px;
  font-weight: 200px;
}

.left{
  flex: 2;
  /* border: 1px solid black; */

}
.center{
  flex:4;
  /* border: 1px solid black; */
}
.search{
  flex: 2;
  /* border: 1px solid black; */
  padding: 5px;
  border-color: hsl(320, 100%, 50%);
}
.search input{
  padding: 11px;
  width: 15rem;
  border-radius: 10px;
  margin-left: -1px;
 
}
.right{
  flex:4;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.bannerBox{
  margin: 10px 0px;
}
.bannerBox img{
  width: 100%;
}
.manImages{
  display: flex;
  gap: 10px;
}
.menImages img{
  width: 220px;
  height: 220px;
}

